<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <style> body{background-color: peachpuff; font-family: 'Courier New';}
    </style>
    <img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/40784946_10217707930590409_196557541918900224_n.jpg?_nc_cat=0&oh=d3db251345adda6e0c7f75bb3e6a584a&oe=5C2CCB24" style="float: right; width: 30%; margin-right: 1%; margin-bottom: 0.5em;" />
    <h1 align=center><strong>Introducing Me</strong></h1>
    <h2 align=center><strong>Hello my name is {{ name }}</strong></h2>
    <article align=center>NPM : {{ npm }}</article>
    <article></article>
    <article></article>
    <h2 align=center>About Me</h2>
    <article align=center>I am {{ age }} years old</article>
    <article align=center>I am an undergraduate student at Universitas Indonesia majoring in Computer Science</article>
    <article align=center>I like to listening to some music and watching some movie</article>
    <article></article>
    <h2 align=center>Experiences</h2>
    <article align=center>- Staff of Public Relation Open House Fasilkom 2017</article>
    <article align=center>- Intern at Public Relation Bureau BEM Fasilkom 2017</article>
    <article align=center>- HRD of Fundraising CGT Fasilkom 2018</article>
    <article align=center>- Staff of Art and Culture of BEM Fasilkom 2018</article>
    <article align=center>- Staff of Sponsorship COMPFEST X</article>
    <article align=center>- Vice Person in Charge Event of Open House Fasilkom 2018</article>
    <h2 align=center>Contact Info</h2>
    <article align=center>mail: janitra.ariena@ui.ac.id</article>
    <article align=center>line: janitraasp</article>
    <article align=center>instagram: janitraasp</article>


</body>

</html>
